In [ ]:
import pandas as pd
# William DataCleaning and Data Processing

In [ ]:
# reading the data from the csv file
df = pd.read_csv('ART.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4268 entries, 0 to 4267
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IndicatorCode               4268 non-null   object
 1   Indicator                   4268 non-null   object
 2   ValueType                   4268 non-null   object
 3   ParentLocationCode          4268 non-null   object
 4   ParentLocation              4268 non-null   object
 5   Location type               4268 non-null   object
 6   SpatialDimValueCode         4268 non-null   object
 7   Location                    4268 non-null   object
 8   Period type                 4268 non-null   object
 9   Period                      4268 non-null   int64
 10  IsLatestYear                4268 non-null   bool
 11  Dim1 type                   0 non-null      float64
 12  Dim1                        0 non-null      float64
 13  Dim1ValueCode               0 non-null      float64
 14  Dim2 type                   0 non-null      float64
 15  Dim2                        0 non-null      float64
 16  Dim2ValueCode               0 non-null      float64
 17  Dim3 type                   0 non-null      float64
 18  Dim3                        0 non-null      float64
 19  Dim3ValueCode               0 non-null      float64
 20  DataSourceDimValueCode      0 non-null      float64
 21  DataSource                  0 non-null      float64
 22  FactValueNumericPrefix      2 non-null      object
 23  FactValueNumeric            3005 non-null   float64
 24  FactValueUoM                0 non-null      float64
 25  FactValueNumericLowPrefix   0 non-null      float64
 26  FactValueNumericLow         3005 non-null   float64
 27  FactValueNumericHighPrefix  0 non-null      float64
 28  FactValueNumericHigh        3005 non-null   float64
 29  Value                       4268 non-null   object
 30  FactValueTranslationID      1263 non-null   float64
 31  FactComments                0 non-null      float64
 32  Language                    4268 non-null   object
 33  DateModified                4268 non-null   object
dtypes: bool(1), float64(19), int64(1), object(13)
memory usage: 1.1+ MB

In [ ]:
# cuttin the data into three column
df2 = df.iloc[:,[3,7,9,23]]
df2.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)

df2.rename(columns = {'FactValueNumeric':'ART coverage'}, inplace = True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3005 entries, 0 to 4211
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ParentLocationCode  3005 non-null   object
 1   Location            3005 non-null   object
 2   Period              3005 non-null   int64
 3   ART coverage        3005 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 117.4+ KB

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
# cutting the data based on the information above
# tail and head function is used just to check whether i put the correct period or not

df2021 = df2.iloc[0:122,[1,2,3]] # 138 data
df2021.tail()
df2020 = df2.iloc[122:255,[1,2,3]] # 139 data
df2020.tail()
df2019 = df2.iloc[255:390,[1,2,3]] # 140 data
df2019.tail()
df2018 = df2.iloc[390:527,[1,2,3]] # 140 data
df2018.tail()
df2017 = df2.iloc[527:665,[1,2,3]] # 140 data
df2017.tail()
df2016 = df2.iloc[665:810,[1,2,3]] # 140 data
df2016.tail()
df2015 = df2.iloc[810:941,[1,2,3]] # 140 data
df2015.tail()
df2014 = df2.iloc[941:1079,[1,2,3]] # 140 data
df2014.tail()
# # df2014.tail()
df2013 = df2.iloc[1079:1217,[1,2,3]] # 140 data
df2013.tail()
# # df2013.head()
df2012 = df2.iloc[1217:1355,[1,2,3]] # 140 data
# # df2012.head()
df2012.tail()
df2011 = df2.iloc[1355:1493,[1,2,3]] # 140 data
# df2021.head()
df2011.tail()

        Location  Period  ART coverage
2073       Egypt    2011           9.0
2074    Mongolia    2011           9.0
2075     Somalia    2011           9.0
2076  Bangladesh    2011           9.0
2077      Norway    2011          93.0

In [ ]:
dff = pd.read_csv('dying.csv')

dff.rename(columns = {'FactValueNumeric':'Death by HIV'}, inplace = True)
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4268 entries, 0 to 4267
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IndicatorCode               4268 non-null   object
 1   Indicator                   4268 non-null   object
 2   ValueType                   4268 non-null   object
 3   ParentLocationCode          4268 non-null   object
 4   ParentLocation              4268 non-null   object
 5   Location type               4268 non-null   object
 6   SpatialDimValueCode         4268 non-null   object
 7   Location                    4268 non-null   object
 8   Period type                 4268 non-null   object
 9   Period                      4268 non-null   int64
 10  IsLatestYear                4268 non-null   bool
 11  Dim1 type                   0 non-null      float64
 12  Dim1                        0 non-null      float64
 13  Dim1ValueCode               0 non-null      float64
 14  Dim2 type                   0 non-null      float64
 15  Dim2                        0 non-null      float64
 16  Dim2ValueCode               0 non-null      float64
 17  Dim3 type                   0 non-null      float64
 18  Dim3                        0 non-null      float64
 19  Dim3ValueCode               0 non-null      float64
 20  DataSourceDimValueCode      0 non-null      float64
 21  DataSource                  0 non-null      float64
 22  FactValueNumericPrefix      1349 non-null   object
 23  Death by HIV                2988 non-null   float64
 24  FactValueUoM                0 non-null      float64
 25  FactValueNumericLowPrefix   1463 non-null   object
 26  FactValueNumericLow         2988 non-null   float64
 27  FactValueNumericHighPrefix  1246 non-null   object
 28  FactValueNumericHigh        2988 non-null   float64
 29  Value                       4268 non-null   object
 30  FactValueTranslationID      1280 non-null   float64
 31  FactComments                0 non-null      float64
 32  Language                    4268 non-null   object
 33  DateModified                4268 non-null   object
dtypes: bool(1), float64(17), int64(1), object(15)
memory usage: 1.1+ MB

In [ ]:
dff2 = dff.iloc[:,[7,9,23]]
dff2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4268 entries, 0 to 4267
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Location      4268 non-null   object
 1   Period        4268 non-null   int64
 2   Death by HIV  2988 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 100.2+ KB

In [ ]:
# cuttin the data into three column
dff2 = dff.iloc[:,[7,9,23]]
dff2.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)
dff2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2988 entries, 0 to 4208
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Location      2988 non-null   object
 1   Period        2988 non-null   int64
 2   Death by HIV  2988 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 93.4+ KB

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
dff2021 = dff2.iloc[0:122,[0,2]] # 138 data
# dff2021.tail()
dff2020 = dff2.iloc[122:255,[0,2]] # 139 data
# dff2020.tail()
dff2019 = dff2.iloc[255:390,[0,2]] # 140 data
# dff2019.tail()
dff2018 = dff2.iloc[390:527,[0,2]] # 140 data
# dff2018.tail()
dff2017 = dff2.iloc[527:665,[0,2]] # 140 data
# df2017.tail()
dff2016 = dff2.iloc[665:810,[0,2]] # 140 data
# df2016.tail()
dff2015 = dff2.iloc[810:941,[0,2]] # 140 data
# df2015.tail()
dff2014 = dff2.iloc[941:1079,[0,2]] # 140 data
# df2014.tail()
# # df2014.tail()
dff2013 = dff2.iloc[1079:1217,[0,2]] # 140 data
# df2013.tail()
# # df2013.head()
dff2012 = dff2.iloc[1217:1355,[0,2]] # 140 data
# # df2012.head()
# df2012.tail()
dff2011 = dff2.iloc[1355:1493,[0,2]] # 140 data
# df2021.head()
dff2011.tail()

                         Location  Death by HIV
2064                     Portugal         670.0
2065  United Republic of Tanzania       68000.0
2066                        Italy         730.0
2067                   Uzbekistan         740.0
2068                      Lesotho        7700.0

In [ ]:
dfff = pd.read_csv('data.csv')

dfff.rename(columns = {'FactValueNumeric':'People with HIV'}, inplace = True)
dfff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4268 entries, 0 to 4267
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IndicatorCode               4268 non-null   object
 1   Indicator                   4268 non-null   object
 2   ValueType                   4268 non-null   object
 3   ParentLocationCode          4268 non-null   object
 4   ParentLocation              4268 non-null   object
 5   Location type               4268 non-null   object
 6   SpatialDimValueCode         4268 non-null   object
 7   Location                    4268 non-null   object
 8   Period type                 4268 non-null   object
 9   Period                      4268 non-null   int64
 10  IsLatestYear                4268 non-null   bool
 11  Dim1 type                   0 non-null      float64
 12  Dim1                        0 non-null      float64
 13  Dim1ValueCode               0 non-null      float64
 14  Dim2 type                   0 non-null      float64
 15  Dim2                        0 non-null      float64
 16  Dim2ValueCode               0 non-null      float64
 17  Dim3 type                   0 non-null      float64
 18  Dim3                        0 non-null      float64
 19  Dim3ValueCode               0 non-null      float64
 20  DataSourceDimValueCode      0 non-null      float64
 21  DataSource                  0 non-null      float64
 22  FactValueNumericPrefix      216 non-null    object
 23  People with HIV             3057 non-null   float64
 24  FactValueUoM                0 non-null      float64
 25  FactValueNumericLowPrefix   271 non-null    object
 26  FactValueNumericLow         3057 non-null   float64
 27  FactValueNumericHighPrefix  168 non-null    object
 28  FactValueNumericHigh        3057 non-null   float64
 29  Value                       4268 non-null   object
 30  FactValueTranslationID      1211 non-null   float64
 31  FactComments                0 non-null      float64
 32  Language                    4268 non-null   object
 33  DateModified                4268 non-null   object
dtypes: bool(1), float64(17), int64(1), object(15)
memory usage: 1.1+ MB

In [ ]:
# cuttin the data into three column
dfff2 = dfff.iloc[:,[7,9,23]]
dfff2.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)
dfff2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3057 entries, 0 to 4211
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Location         3057 non-null   object
 1   Period           3057 non-null   int64
 2   People with HIV  3057 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 95.5+ KB

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
# cutting the data based on the information above
# tail and head function is used just to check whether i put the correct period or not

dfff2021 = dfff2.iloc[0:138,[0,2]] # 138 data
# df2021.tail()
dfff2020 = dfff2.iloc[138:277,[0,2]] # 139 data
# df2020.tail()
dfff2019 = dfff2.iloc[277:417,[0,2]] # 140 data
# df2019.tail()
dfff2018 = dfff2.iloc[417:557,[0,2]] # 140 data
# df2018.tail()
dfff2017 = dfff2.iloc[557:697,[0,2]] # 140 data
# df2017.tail()
dfff2016 = dfff2.iloc[697:837,[0,2]] # 140 data
# df2016.tail()
dfff2015 = dfff2.iloc[837:977,[0,2]] # 140 data
# df2015.tail()
dfff2014 = dfff2.iloc[977:1117,[0,2]] # 140 data
# df2014.head()
# df2014.tail()
dfff2013 = dfff2.iloc[1117:1257,[0,2]] # 140 data
# df2013.tail()
# df2013.head()
dfff2012 = dfff2.iloc[1257:1397,[0,2]] # 140 data
# df2012.head()
# df2012.tail()
dfff2011 = dfff2.iloc[1397:1537,[0,2]] # 140 data
# dfff2011.head()
dfff2011.tail()

                              Location  People with HIV
2075                            Malawi         940000.0
2076                        Mauritania           9600.0
2077  Lao People's Democratic Republic           9600.0
2078          United States of America         970000.0
2079                          Djibouti           9800.0

In [ ]:
dffff = pd.read_csv('Populasi.csv')
dffff.rename(columns = {'Country Name':'Location'}, inplace = True)
dffff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series Name   268 non-null    object
 1   Series Code   266 non-null    object
 2   Location      266 non-null    object
 3   Country Code  266 non-null    object
 4   2011          266 non-null    object
 5   2012          266 non-null    object
 6   2013          266 non-null    object
 7   2014          266 non-null    object
 8   2015          266 non-null    object
 9   2016          266 non-null    object
 10  2017          266 non-null    object
 11  2018          266 non-null    object
 12  2019          266 non-null    object
 13  2020          266 non-null    object
 14  2021          266 non-null    object
dtypes: object(15)
memory usage: 31.9+ KB

In [ ]:
dffff['2011'] = pd.to_numeric(dffff['2011'], errors='coerce')
dffff['2012'] = pd.to_numeric(dffff['2012'], errors='coerce')
dffff['2013'] = pd.to_numeric(dffff['2013'], errors='coerce')
dffff['2014'] = pd.to_numeric(dffff['2014'], errors='coerce')
dffff['2015'] = pd.to_numeric(dffff['2015'], errors='coerce')
dffff['2016'] = pd.to_numeric(dffff['2016'], errors='coerce')
dffff['2017'] = pd.to_numeric(dffff['2017'], errors='coerce')
dffff['2018'] = pd.to_numeric(dffff['2018'], errors='coerce')
dffff['2019'] = pd.to_numeric(dffff['2019'], errors='coerce')
dffff['2020'] = pd.to_numeric(dffff['2020'], errors='coerce')
dffff['2021'] = pd.to_numeric(dffff['2021'], errors='coerce')
dffff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series Name   268 non-null    object
 1   Series Code   266 non-null    object
 2   Location      266 non-null    object
 3   Country Code  266 non-null    object
 4   2011          265 non-null    float64
 5   2012          264 non-null    float64
 6   2013          264 non-null    float64
 7   2014          264 non-null    float64
 8   2015          264 non-null    float64
 9   2016          264 non-null    float64
 10  2017          264 non-null    float64
 11  2018          264 non-null    float64
 12  2019          264 non-null    float64
 13  2020          264 non-null    float64
 14  2021          264 non-null    float64
dtypes: float64(11), object(4)
memory usage: 31.9+ KB

In [ ]:
dffff2021 = dffff.iloc[:,[2,14]]
dffff2020 = dffff.iloc[:,[2,13]]
dffff2019 = dffff.iloc[:,[2,12]]
dffff2018 = dffff.iloc[:,[2,11]]
dffff2017 = dffff.iloc[:,[2,10]]
dffff2016 = dffff.iloc[:,[2,9]]
dffff2015 = dffff.iloc[:,[2,8]]
dffff2014 = dffff.iloc[:,[2,7]]
dffff2013 = dffff.iloc[:,[2,6]]
dffff2012 = dffff.iloc[:,[2,5]]
dffff2011 = dffff.iloc[:,[2,4]]
dffff2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  266 non-null    object
 1   2011      265 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.4+ KB

In [ ]:
# dfffff1 = pd.merge(pd.merge(df2011,dff2011,dfff2011,on='Location'),dffff2011,on='Location')
dfffff2011 = df2011.merge(dff2011,on='Location').merge(dfff2011,on='Location').merge(dffff2011,on = 'Location')
dfffff2011.rename(columns = {'Period':'Period2011'}, inplace = True)
dfffff2011.rename(columns = {'ART coverage':'ART coverage 2011'}, inplace = True)
dfffff2011.rename(columns = {'Death by HIV':'Death by HIV 2011'}, inplace = True)
dfffff2011.rename(columns = {'People with HIV':'People with HIV 2011'}, inplace = True)
dfffff2011.rename(columns = {'2011':'Total Population 2011'}, inplace = True)
dfffff2011.info()


dfffff2012 = df2012.merge(dff2012,on='Location').merge(dfff2012,on='Location').merge(dffff2012,on = 'Location')
dfffff2012.rename(columns = {'Period':'Period2012'}, inplace = True)
dfffff2012.rename(columns = {'ART coverage':'ART coverage 2012'}, inplace = True)
dfffff2012.rename(columns = {'Death by HIV':'Death by HIV 2012'}, inplace = True)
dfffff2012.rename(columns = {'People with HIV':'People with HIV 2012'}, inplace = True)
dfffff2012.rename(columns = {'2012':'Total Population 2012'}, inplace = True)
dfffff2012.info()


dfffff2013 = df2013.merge(dff2013,on='Location').merge(dfff2013,on='Location').merge(dffff2013,on = 'Location')
dfffff2013.rename(columns = {'Period':'Period2013'}, inplace = True)
dfffff2013.rename(columns = {'ART coverage':'ART coverage 2013'}, inplace = True)
dfffff2013.rename(columns = {'Death by HIV':'Death by HIV 2013'}, inplace = True)
dfffff2013.rename(columns = {'People with HIV':'People with HIV 2013'}, inplace = True)
dfffff2013.rename(columns = {'2013':'Total Population 2013'}, inplace = True)
dfffff2013.info()


dfffff2014 = df2014.merge(dff2014,on='Location').merge(dfff2014,on='Location').merge(dffff2014,on = 'Location')
dfffff2014.rename(columns = {'Period':'Period2014'}, inplace = True)
dfffff2014.rename(columns = {'ART coverage':'ART coverage 2014'}, inplace = True)
dfffff2014.rename(columns = {'Death by HIV':'Death by HIV 2014'}, inplace = True)
dfffff2014.rename(columns = {'People with HIV':'People with HIV 2014'}, inplace = True)
dfffff2014.rename(columns = {'2014':'Total Population 2014'}, inplace = True)
dfffff2014.info()


dfffff2015 = df2015.merge(dff2015,on='Location').merge(dfff2015,on='Location').merge(dffff2015,on = 'Location')
dfffff2015.rename(columns = {'Period':'Period2015'}, inplace = True)
dfffff2015.rename(columns = {'ART coverage':'ART coverage 2015'}, inplace = True)
dfffff2015.rename(columns = {'Death by HIV':'Death by HIV 2015'}, inplace = True)
dfffff2015.rename(columns = {'People with HIV':'People with HIV 2015'}, inplace = True)
dfffff2015.rename(columns = {'2015':'Total Population 2015'}, inplace = True)
dfffff2015.info()


dfffff2016 = df2016.merge(dff2016,on='Location').merge(dfff2016,on='Location').merge(dffff2016,on = 'Location')
dfffff2016.rename(columns = {'Period':'Period2016'}, inplace = True)
dfffff2016.rename(columns = {'ART coverage':'ART coverage 2016'}, inplace = True)
dfffff2016.rename(columns = {'Death by HIV':'Death by HIV 2016'}, inplace = True)
dfffff2016.rename(columns = {'People with HIV':'People with HIV 2016'}, inplace = True)
dfffff2016.rename(columns = {'2016':'Total Population 2016'}, inplace = True)
dfffff2016.info()


dfffff2017 = df2017.merge(dff2017,on='Location').merge(dfff2017,on='Location').merge(dffff2017,on = 'Location')
dfffff2017.rename(columns = {'Period':'Period2017'}, inplace = True)
dfffff2017.rename(columns = {'ART coverage':'ART coverage 2017'}, inplace = True)
dfffff2017.rename(columns = {'Death by HIV':'Death by HIV 2017'}, inplace = True)
dfffff2017.rename(columns = {'People with HIV':'People with HIV 2017'}, inplace = True)
dfffff2017.rename(columns = {'2017':'Total Population 2017'}, inplace = True)
dfffff2017.info()

dfffff2018 = df2018.merge(dff2018,on='Location').merge(dfff2018,on='Location').merge(dffff2018,on = 'Location')
dfffff2018.rename(columns = {'Period':'Period2018'}, inplace = True)
dfffff2018.rename(columns = {'ART coverage':'ART coverage 2018'}, inplace = True)
dfffff2018.rename(columns = {'Death by HIV':'Death by HIV 2018'}, inplace = True)
dfffff2018.rename(columns = {'People with HIV':'People with HIV 2018'}, inplace = True)
dfffff2018.rename(columns = {'2018':'Total Population 2018'}, inplace = True)
dfffff2018.info()

dfffff2019 = df2019.merge(dff2019,on='Location').merge(dfff2019,on='Location').merge(dffff2019,on = 'Location')
dfffff2019.rename(columns = {'Period':'Period2019'}, inplace = True)
dfffff2019.rename(columns = {'ART coverage':'ART coverage 2019'}, inplace = True)
dfffff2019.rename(columns = {'Death by HIV':'Death by HIV 2019'}, inplace = True)
dfffff2019.rename(columns = {'People with HIV':'People with HIV 2019'}, inplace = True)
dfffff2019.rename(columns = {'2019':'Total Population 2019'}, inplace = True)
dfffff2019.info()

dfffff2020 = df2020.merge(dff2020,on='Location').merge(dfff2020,on='Location').merge(dffff2020,on = 'Location')
dfffff2020.rename(columns = {'Period':'Period2020'}, inplace = True)
dfffff2020.rename(columns = {'ART coverage':'ART coverage 2020'}, inplace = True)
dfffff2020.rename(columns = {'Death by HIV':'Death by HIV 2020'}, inplace = True)
dfffff2020.rename(columns = {'People with HIV':'People with HIV 2020'}, inplace = True)
dfffff2020.rename(columns = {'2020':'Total Population 2020'}, inplace = True)
dfffff2020.info()

dfffff2021 = df2021.merge(dff2021,on='Location').merge(dfff2021,on='Location').merge(dffff2021,on = 'Location')
dfffff2021.rename(columns = {'Period':'Period2021'}, inplace = True)
dfffff2021.rename(columns = {'ART coverage':'ART coverage 2021'}, inplace = True)
dfffff2021.rename(columns = {'Death by HIV':'Death by HIV 2021'}, inplace = True)
dfffff2021.rename(columns = {'People with HIV':'People with HIV 2021'}, inplace = True)
dfffff2021.rename(columns = {'2021':'Total Population 2021'}, inplace = True)
dfffff2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 0 to 118
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               119 non-null    object
 1   Period2011             119 non-null    int64
 2   ART coverage 2011      119 non-null    float64
 3   Death by HIV 2011      119 non-null    float64
 4   People with HIV 2011   119 non-null    float64
 5   Total Population 2011  119 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               120 non-null    object
 1   Period2012             120 non-null    int64
 2   ART coverage 2012      120 non-null    float64
 3   Death by HIV 2012      120 non-null    float64
 4   People with HIV 2012   120 non-null    float64
 5   Total Population 2012  119 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               120 non-null    object
 1   Period2013             120 non-null    int64
 2   ART coverage 2013      120 non-null    float64
 3   Death by HIV 2013      120 non-null    float64
 4   People with HIV 2013   120 non-null    float64
 5   Total Population 2013  119 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 0 to 118
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               119 non-null    object
 1   Period2014             119 non-null    int64
 2   ART coverage 2014      119 non-null    float64
 3   Death by HIV 2014      119 non-null    float64
 4   People with HIV 2014   119 non-null    float64
 5   Total Population 2014  118 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 0 to 109
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               110 non-null    object
 1   Period2015             110 non-null    int64
 2   ART coverage 2015      110 non-null    float64
 3   Death by HIV 2015      110 non-null    float64
 4   People with HIV 2015   110 non-null    float64
 5   Total Population 2015  109 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 129
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               130 non-null    object
 1   Period2016             130 non-null    int64
 2   ART coverage 2016      130 non-null    float64
 3   Death by HIV 2016      130 non-null    float64
 4   People with HIV 2016   130 non-null    float64
 5   Total Population 2016  129 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 0 to 118
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               119 non-null    object
 1   Period2017             119 non-null    int64
 2   ART coverage 2017      119 non-null    float64
 3   Death by HIV 2017      119 non-null    float64
 4   People with HIV 2017   119 non-null    float64
 5   Total Population 2017  118 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 0 to 118
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               119 non-null    object
 1   Period2018             119 non-null    int64
 2   ART coverage 2018      119 non-null    float64
 3   Death by HIV 2018      119 non-null    float64
 4   People with HIV 2018   119 non-null    float64
 5   Total Population 2018  118 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 116
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               117 non-null    object
 1   Period2019             117 non-null    int64
 2   ART coverage 2019      117 non-null    float64
 3   Death by HIV 2019      117 non-null    float64
 4   People with HIV 2019   117 non-null    float64
 5   Total Population 2019  116 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 0 to 111
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               112 non-null    object
 1   Period2020             112 non-null    int64
 2   ART coverage 2020      112 non-null    float64
 3   Death by HIV 2020      112 non-null    float64
 4   People with HIV 2020   112 non-null    float64
 5   Total Population 2020  111 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 95
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               96 non-null     object
 1   Period2021             96 non-null     int64
 2   ART coverage 2021      96 non-null     float64
 3   Death by HIV 2021      96 non-null     float64
 4   People with HIV 2021   96 non-null     float64
 5   Total Population 2021  95 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 5.2+ KB

In [ ]:
df_final = dfffff2011.merge(dfffff2012,on='Location').merge(dfffff2013,on='Location').merge(dfffff2014,on = 'Location').merge(dfffff2015,on = 'Location').merge(dfffff2016,on = 'Location').merge(dfffff2017,on = 'Location').merge(dfffff2018,on = 'Location').merge(dfffff2019,on = 'Location').merge(dfffff2020,on = 'Location').merge(dfffff2021,on = 'Location')

In [ ]:
df_final.info()
df_final.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 75
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               75 non-null     object
 1   Period2011             75 non-null     int64
 2   ART coverage 2011      75 non-null     float64
 3   Death by HIV 2011      75 non-null     float64
 4   People with HIV 2011   75 non-null     float64
 5   Total Population 2011  75 non-null     float64
 6   Period2012             75 non-null     int64
 7   ART coverage 2012      75 non-null     float64
 8   Death by HIV 2012      75 non-null     float64
 9   People with HIV 2012   75 non-null     float64
 10  Total Population 2012  75 non-null     float64
 11  Period2013             75 non-null     int64
 12  ART coverage 2013      75 non-null     float64
 13  Death by HIV 2013      75 non-null     float64
 14  People with HIV 2013   75 non-null     float64
 15  Total Population 2013  75 non-null     float64
 16  Period2014             75 non-null     int64
 17  ART coverage 2014      75 non-null     float64
 18  Death by HIV 2014      75 non-null     float64
 19  People with HIV 2014   75 non-null     float64
 20  Total Population 2014  75 non-null     float64
 21  Period2015             75 non-null     int64
 22  ART coverage 2015      75 non-null     float64
 23  Death by HIV 2015      75 non-null     float64
 24  People with HIV 2015   75 non-null     float64
 25  Total Population 2015  75 non-null     float64
 26  Period2016             75 non-null     int64
 27  ART coverage 2016      75 non-null     float64
 28  Death by HIV 2016      75 non-null     float64
 29  People with HIV 2016   75 non-null     float64
 30  Total Population 2016  75 non-null     float64
 31  Period2017             75 non-null     int64
 32  ART coverage 2017      75 non-null     float64
 33  Death by HIV 2017      75 non-null     float64
 34  People with HIV 2017   75 non-null     float64
 35  Total Population 2017  75 non-null     float64
 36  Period2018             75 non-null     int64
 37  ART coverage 2018      75 non-null     float64
 38  Death by HIV 2018      75 non-null     float64
 39  People with HIV 2018   75 non-null     float64
 40  Total Population 2018  75 non-null     float64
 41  Period2019             75 non-null     int64
 42  ART coverage 2019      75 non-null     float64
 43  Death by HIV 2019      75 non-null     float64
 44  People with HIV 2019   75 non-null     float64
 45  Total Population 2019  75 non-null     float64
 46  Period2020             75 non-null     int64
 47  ART coverage 2020      75 non-null     float64
 48  Death by HIV 2020      75 non-null     float64
 49  People with HIV 2020   75 non-null     float64
 50  Total Population 2020  75 non-null     float64
 51  Period2021             75 non-null     int64
 52  ART coverage 2021      75 non-null     float64
 53  Death by HIV 2021      75 non-null     float64
 54  People with HIV 2021   75 non-null     float64
 55  Total Population 2021  75 non-null     float64
dtypes: float64(44), int64(11), object(1)
memory usage: 33.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 75
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               75 non-null     object
 1   Period2011             75 non-null     int64
 2   ART coverage 2011      75 non-null     float64
 3   Death by HIV 2011      75 non-null     float64
 4   People with HIV 2011   75 non-null     float64
 5   Total Population 2011  75 non-null     float64
 6   Period2012             75 non-null     int64
 7   ART coverage 2012      75 non-null     float64
 8   Death by HIV 2012      75 non-null     float64
 9   People with HIV 2012   75 non-null     float64
 10  Total Population 2012  75 non-null     float64
 11  Period2013             75 non-null     int64
 12  ART coverage 2013      75 non-null     float64
 13  Death by HIV 2013      75 non-null     float64
 14  People with HIV 2013   75 non-null     float64
 15  Total Population 2013  75 non-null     float64
 16  Period2014             75 non-null     int64
 17  ART coverage 2014      75 non-null     float64
 18  Death by HIV 2014      75 non-null     float64
 19  People with HIV 2014   75 non-null     float64
 20  Total Population 2014  75 non-null     float64
 21  Period2015             75 non-null     int64
 22  ART coverage 2015      75 non-null     float64
 23  Death by HIV 2015      75 non-null     float64
 24  People with HIV 2015   75 non-null     float64
 25  Total Population 2015  75 non-null     float64
 26  Period2016             75 non-null     int64
 27  ART coverage 2016      75 non-null     float64
 28  Death by HIV 2016      75 non-null     float64
 29  People with HIV 2016   75 non-null     float64
 30  Total Population 2016  75 non-null     float64
 31  Period2017             75 non-null     int64
 32  ART coverage 2017      75 non-null     float64
 33  Death by HIV 2017      75 non-null     float64
 34  People with HIV 2017   75 non-null     float64
 35  Total Population 2017  75 non-null     float64
 36  Period2018             75 non-null     int64
 37  ART coverage 2018      75 non-null     float64
 38  Death by HIV 2018      75 non-null     float64
 39  People with HIV 2018   75 non-null     float64
 40  Total Population 2018  75 non-null     float64
 41  Period2019             75 non-null     int64
 42  ART coverage 2019      75 non-null     float64
 43  Death by HIV 2019      75 non-null     float64
 44  People with HIV 2019   75 non-null     float64
 45  Total Population 2019  75 non-null     float64
 46  Period2020             75 non-null     int64
 47  ART coverage 2020      75 non-null     float64
 48  Death by HIV 2020      75 non-null     float64
 49  People with HIV 2020   75 non-null     float64
 50  Total Population 2020  75 non-null     float64
 51  Period2021             75 non-null     int64
 52  ART coverage 2021      75 non-null     float64
 53  Death by HIV 2021      75 non-null     float64
 54  People with HIV 2021   75 non-null     float64
 55  Total Population 2021  75 non-null     float64
dtypes: float64(44), int64(11), object(1)
memory usage: 33.4+ KB

In [ ]:
n = '10YearPeriodHIV.csv'
df_final.to_csv(n, index=False)
df_final.info()
df_final.to_excel('10YearPeriodHIV.xlsx')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 75
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               75 non-null     object
 1   Period2011             75 non-null     int64
 2   ART coverage 2011      75 non-null     float64
 3   Death by HIV 2011      75 non-null     float64
 4   People with HIV 2011   75 non-null     float64
 5   Total Population 2011  75 non-null     float64
 6   Period2012             75 non-null     int64
 7   ART coverage 2012      75 non-null     float64
 8   Death by HIV 2012      75 non-null     float64
 9   People with HIV 2012   75 non-null     float64
 10  Total Population 2012  75 non-null     float64
 11  Period2013             75 non-null     int64
 12  ART coverage 2013      75 non-null     float64
 13  Death by HIV 2013      75 non-null     float64
 14  People with HIV 2013   75 non-null     float64
 15  Total Population 2013  75 non-null     float64
 16  Period2014             75 non-null     int64
 17  ART coverage 2014      75 non-null     float64
 18  Death by HIV 2014      75 non-null     float64
 19  People with HIV 2014   75 non-null     float64
 20  Total Population 2014  75 non-null     float64
 21  Period2015             75 non-null     int64
 22  ART coverage 2015      75 non-null     float64
 23  Death by HIV 2015      75 non-null     float64
 24  People with HIV 2015   75 non-null     float64
 25  Total Population 2015  75 non-null     float64
 26  Period2016             75 non-null     int64
 27  ART coverage 2016      75 non-null     float64
 28  Death by HIV 2016      75 non-null     float64
 29  People with HIV 2016   75 non-null     float64
 30  Total Population 2016  75 non-null     float64
 31  Period2017             75 non-null     int64
 32  ART coverage 2017      75 non-null     float64
 33  Death by HIV 2017      75 non-null     float64
 34  People with HIV 2017   75 non-null     float64
 35  Total Population 2017  75 non-null     float64
 36  Period2018             75 non-null     int64
 37  ART coverage 2018      75 non-null     float64
 38  Death by HIV 2018      75 non-null     float64
 39  People with HIV 2018   75 non-null     float64
 40  Total Population 2018  75 non-null     float64
 41  Period2019             75 non-null     int64
 42  ART coverage 2019      75 non-null     float64
 43  Death by HIV 2019      75 non-null     float64
 44  People with HIV 2019   75 non-null     float64
 45  Total Population 2019  75 non-null     float64
 46  Period2020             75 non-null     int64
 47  ART coverage 2020      75 non-null     float64
 48  Death by HIV 2020      75 non-null     float64
 49  People with HIV 2020   75 non-null     float64
 50  Total Population 2020  75 non-null     float64
 51  Period2021             75 non-null     int64
 52  ART coverage 2021      75 non-null     float64
 53  Death by HIV 2021      75 non-null     float64
 54  People with HIV 2021   75 non-null     float64
 55  Total Population 2021  75 non-null     float64
dtypes: float64(44), int64(11), object(1)
memory usage: 33.4+ KB

In [ ]:
df_final['ART coverage 2021'].describe()

count    75.000000
mean     65.760000
std      18.629271
min      10.000000
25%      55.000000
50%      66.000000
75%      78.500000
max      98.000000
Name: ART coverage 2021, dtype: float64